
<h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
<p>Enter the email associated with your account. If it matches we will send you a reset link.</p>
<p class="text-danger" id="niceError">{{ niceError }}</p>
<div class="form-group last first mb-5">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="forgotPassword" name="forgot_password" required="required">

</div>


<input type="submit" value="Submit" class="btn btn-block btn-primary">
<span class="d-block text-center my-4 text-muted">— or —</span>
<button type="button" value="Log In" class="btn btn-block btn-danger GT" id="Login">Login</button>



