
<div class="phase info-block">
    <h4>Account setup</h4>
    <h5>We are very excited that you are partnering with us! We just need a bit more information from your business before it is official.</h5>
    <h5>The information that will be required during this process:</h5>
    <ul>
        <li>Address information</li>
        <li>Phone number</li>
    </ul>
    <h5>We believe this will be a start to something great. Click continue when you are ready!</h5>
    <div class="navigation-container"></div>
</div>


<div class="phase">
    <h4>Address</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut nibh in elit volutpat rutrum.</p>
    <input type="hidden" class="form-control" value="US" disabled="disabled">
    <div class="form-group first field--not-empty">
        <label for="name">Full name (First and Last name)</label>
        <input type="text" class="form-control required" id="name" name="FullName" value="" required="required">
    </div>

    <div class="form-group first field--not-empty">
        <label for="Company">Company Name</label>
        <input type="text" class="form-control required" id="Company" name="CompanyName" value="{{ Identity }}">
    </div>

    <div class="form-group">
        <label for="addressOne">Address line 1</label>
        <input type="text" class="form-control required" id="addressOne" name="AddressOne">
    </div>

    <div class="form-group">
        <label for="addressTwo">Address line 2</label>
        <input type="text" class="form-control" id="addressTwo" name="AddressTwo">
    </div>

    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control required" id="city" name="City">
    </div>

    <div class="form-group">
        <label for="state">State / Province / Region</label>
        <input type="text" class="form-control required" id="state" name="State">
    </div>

    <div class="form-group">
        <label for="zip">Zip Code</label>
        <input type="text" class="form-control required" id="zip" name="Zip">
    </div>

    <div class="form-group last mb-3">
        <label for="phone">Phone number</label>
        <input type="tel" class="form-control required" id="phone" name="Phone">
    </div>

    <div class="navigation-container"></div>
</div>




