<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Account Not found</h4>
                <p>The requested Account could not be resolved. This usually happens when an account is incorrectly copied as a link. Please verify that the link you were given is accurate.  </p>
                <hr>
                <p class="mb-0"><a href="/Account/Explorer/">Return</a></p>
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
</div>

