<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Action not authorized</h4>
                <p>You are not authorized to execute this request. If you believe this is an error please contact your administrator.</p>
                <hr>
                <p class="mb-0"><a href="/Account/manage/AccountDetails">Return to my account</a></p>
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
</div>

