<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Resource not found</h4>
                <p>The requested resource was not found.</p>
                <hr>
                <p class="mb-0"><a href="/Account/Explorer/">Return</a></p>
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
</div>

