<p>Hello {{ first_name }},</p>
<p>We just need to verify that the email requested to change is in fact an email</p>
<p>Please use the following code to verify:</p>
<h2><b>{{ verification_code }}</b></h2>
<p>If this wasn&#39;t you, please reset your password to secure your account.</p>