<p>Hello {{ first_name }},</p>



<p>We've limited access to your account due to multiple unsuccessful login attempts.<br> During your next login you will be required to enter a verification code in order to restore access.</p>

<ul>
    <li>IP ADDRESS: {{ IP }}</li>
    <li>USER_AGENT: {{ server_data.HTTP_USER_AGENT }}</li>
</ul>

<p>If this wasn&#39;t you, please reset your password to secure your account as soon as possible.</p>
