<p>Hello {{ first_name }},</p>
<p>We see that you&#39;ve requested to reset you password.Please using the following link to do so:</p>
<h2><b>{{ reset_link }}</b></h2>
<p>If this wasn&#39;t you, please reset your password to secure your account.</p>
